#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws


*.class
*.info
*.properties
*.jar



/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
/lib/javafx-sdk-17.0.2/
